/*********************************** Définition des polices personnalisées ********************************/
@font-face {
    font-family: "Merriweather";
    src: url(../font/Merriweather-Regular.ttf);
}
@font-face {
    font-family: "Montserrat";
    src: url(../font/Montserrat-Medium.ttf);
}
@font-face {
    font-family: "PlayfairDisplay";
    src: url(../font/PlayfairDisplay-Medium.ttf);
}
/*********************************** Eléments principaux de la page ***************************************/
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    outline: none;
}
body {
    font-family: "Merriweather";
    font-size: 100%;
}
/*********************************** Header ****************************************************************/
header {
    background-color: #1B242F;
    padding: 60px 20px;
    border: 2px solid darkred;
    color: white;
    text-shadow: 5px 4px 5px rgba(196, 217, 255, 0.445);
}
.container_header {
    display: flex;
    border: 2px solid darkred;
}
h1 {
    

}
nav {
    background-color: white;
    
}
nav ul {
    display: flex;
}
nav li {
    margin-right: 15px;
}
nav a
{
    
}
/*********************************** Citation **************************************************************/
.quote {
    background-color: aquamarine;
    min-height: 200px;
}